In [1]:
from fusion import Fusion

In [2]:
client = Fusion()

In [3]:
client

Fusion object
Available methods:
+-------------------------+-----------------------------------------------------------------------------------------------+
| catalog_resources       | List the resources contained within the catalog, for example products and datasets.           |
| create_dataset_lineage  | Upload lineage to a dataset.                                                                  |
| dataset_resources       | List the resources available for a dataset, currently this will always be a datasetseries.    |
| datasetmember_resources | List the available resources for a datasetseries member.                                      |
| download                | Downloads the requested distributions of a dataset to disk.                                   |
| from_bytes              | Uploads data from an object in memory.                                                        |
| get_events              | Run server sent event listener and print out the new events. Keyboard terminate to stop.      |
| get_fusion_filesystem   | Creates Fusion Filesystem.                                                                    |
| list_catalogs           | Lists the catalogs available to the API account.                                              |
| list_dataset_attributes | Returns the list of attributes that are in the dataset.                                       |
| list_dataset_lineage    | List the upstream and downstream lineage of the dataset.                                      |
| list_datasetmembers     | List the available members in the dataset series.                                             |
| list_datasets           | Get the datasets contained in a catalog.                                                      |
| list_distributions      | List the available distributions (downloadable instances of the dataset with a format type).  |
| list_products           | Get the products contained in a catalog. A product is a grouping of datasets.                 |
| listen_to_events        | Run server sent event listener in the background. Retrieve results by running get_events.     |
| to_bytes                | Returns an instance of dataset (the distribution) as a bytes object.                          |
| to_df                   | Gets distributions for a specified date or date range and returns the data as a dataframe.    |
| to_table                | Gets distributions for a specified date or date range and returns the data as an arrow table. |
| upload                  | Uploads the requested files/files to Fusion.                                                  |
| default_catalog         | Returns the default catalog.                                                                  |
+-------------------------+-----------------------------------------------------------------------------------------------+

In [6]:
client.list_catalogs()

,identifier,description,@id,isInternal,title
0,fusiondemo,A catalog of fusion demo data,fusiondemo/,False,Fusion Demo
1,common,A catalog of common data,common/,False,Common

In [17]:
client.list_datasets()

,identifier,title,containerType,region,category,description,status
0,FXO_SP,FX Cash Rate,Snapshot-Full,"EMEA, North America, Emerging Markets, APAC, G...",FX,This dataset includes FX spot rates for major ...,Subscribed
1,SNP_PHSCL_RISK_FINANCL_IMPACT_ASSET_FORECAST_S...,Trucost Physical Risk Financial Impact | Asset...,Sub-Class Snapshot-Full,Global,ESG,The latest data for the latest effective perio...,Subscribed
2,MSCI_ESG_RTNG_CLMTE_CHG_TRGT_AND_CMMTMNT_ID_SCSSD,ESG Ratings | Climate Change Targets and Commi...,Sub-Class Snapshot-Delta,Global,ESG,The change data captured between the current a...,Subscribed
3,FXO_ST,FX Option Structure | Strangles,Snapshot-Full,"EMEA, North America, APAC, Emerging Markets, G...",FX,Implied volatility for 10 and 25 delta FX opti...,Subscribed
4,SNP_PHSCL_RISK_FINANCL_IMPACT_ASSET_FORECAST_S...,Trucost Physical Risk Financial Impact | Asset...,Sub-Class Snapshot-Delta,Global,ESG,The change data captured between the current a...,Subscribed
...,...,...,...,...,...,...,...
414,FI_GO_BO_EA,Government Securities | Euro Area,Snapshot-Full,EMEA,Fixed Income,Government bond market data for Eurozone count...,Subscribed
415,SNP_METALS_AND_MINING_CLMTE_CMPTTVNSS_MINE_SCSSF,Trucost Metals Mining Climate Competitiveness ...,Sub-Class Snapshot-Full,Global,ESG,The Trucost Metals and Mining Climate Competit...,Subscribed
416,SNP_METALS_AND_MINING_CLMTE_CMPTTVNSS_MINE_SCSSD,Trucost Metals Mining Climate Competitiveness ...,Sub-Class Snapshot-Delta,Global,ESG,The Trucost Metals and Mining Climate Competit...,Subscribed
417,STANDARD_CLIENT_INSTRUCTION_SUMMARY,Sample: Client Instruction Summary,Snapshot-Full,Global,Custody,Standard dataset detailing corporate action in...,Available
418,FI_OPT_YLD_CRV_SPRD,Swaption Yield Curve Spread | North America,Snapshot-Full,North America,Fixed Income,Premium and greeks for USD yield curve spread ...,Subscribed

In [16]:
client.list_datasetmembers('FXO_SP')

     identifier createdDate    fromDate        @id      toDate
0      20190101  2019-01-01  2019-01-01  20190101/  2019-01-01
1      20190102  2019-01-02  2019-01-02  20190102/  2019-01-02
2      20190103  2019-01-03  2019-01-03  20190103/  2019-01-03
3      20190104  2019-01-04  2019-01-04  20190104/  2019-01-04
4      20190107  2019-01-07  2019-01-07  20190107/  2019-01-07
...         ...         ...         ...        ...         ...
1496   20241016  2024-10-17  2024-10-16  20241016/  2024-10-16
1497   20241017  2024-10-18  2024-10-17  20241017/  2024-10-17
1498   20241018  2024-10-21  2024-10-18  20241018/  2024-10-18
1499   20241021  2024-10-22  2024-10-21  20241021/  2024-10-21
1500   20241022  2024-10-23  2024-10-22  20241022/  2024-10-22

[1501 rows x 5 columns]

In [5]:
client.list_datasetmembers('FI_ABS_CRDCARD_1M_RAW')

    identifier        @id    fromDate createdDate      toDate
0     20221121  20221121/  2022-11-21  2022-11-21  2022-11-21
1     20221122  20221122/  2022-11-22  2022-11-22  2022-11-22
2     20221123  20221123/  2022-11-23  2022-11-23  2022-11-23
3     20221124  20221124/  2022-11-24  2022-11-24  2022-11-24
4     20221125  20221125/  2022-11-25  2022-11-25  2022-11-25
..         ...        ...         ...         ...         ...
322   20240126  20240126/  2024-01-26  2024-01-26  2024-01-26
323   20240129  20240129/  2024-01-29  2024-01-29  2024-01-29
324   20240130  20240130/  2024-01-30  2024-01-30  2024-01-30
325   20240131  20240131/  2024-01-31  2024-01-31  2024-01-31
326   20240201  20240201/  2024-02-01  2024-02-01  2024-02-01

[327 rows x 5 columns]

In [ ]:
client.download('')